@model             Account
@{
    ViewData["Title"] = "Account Details";
}

<div>
    <h4>Account Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Your Name: </dt>
        <dd>@Model.LegalName</dd>

        <dt>Registered Email: </dt>
        <dd>@Model.Email</dd>

        <dt>Your User Role: </dt>
        <dd>@Model.UserRole</dd>

        <dt>Your Password:</dt>
        <dd>@Model.Password</dd>
    </dl>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<a class="btn btn-primary text-white btn-sm" asp-controller="Account" asp-action="ChangePassword" style="margin-top: 20px;">Change Password</a>
<a class="btn btn-success text-white btn-sm" asp-controller="Account" asp-action="EditAccount" style="margin-top: 20px;">Edit Account</a>
<a class="btn btn-danger text-white btn-sm" asp-controller="Account" asp-action="DeleteAccount" style="margin-top: 20px;">Delete Account</a>
<a class="btn btn-primary text-white btn-sm" asp-controller="Home" asp-action="Index" style="margin-top: 20px;">Back to Home</a>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}