@{
    ViewBag.Title = "Platform Data";
    var platformData = ViewBag.PlatformData as List<object>;
    var platformId = ViewBag.PlatformId;
}

<h2>Platform Data</h2>

@if (platformData == null || !platformData.Any())
{
    <p>No data available for this platform.</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped" aria-labelledby="platformDataTable">
            <thead>
                <tr>
                    @if (platformId == 1)
                    {
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Specialization</th>
                        <th scope="col">Completed</th>
                    }
                    else if (platformId == 2)
                    {
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Intended Major</th>
                    }
                    else if (platformId == 3)
                    {
                        <th scope="col">Mentor</th>
                        <th scope="col">Mentee</th>
                        <th scope="col">Date</th>
                        <th scope="col">Method of Contact</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in platformData)
                {
                    <tr>
                        @if (platformId == 1)
                        {
                            <td>@((item as dynamic).Name)</td>
                            <td>@((item as dynamic).Email)</td>
                            <td>@((item as dynamic).Specialization)</td>
                            <td>@((item as dynamic).Completed)</td>
                        }
                        else if (platformId == 2)
                        {
                            <td>@((item as dynamic).Name_First)</td>
                            <td>@((item as dynamic).Name_Last)</td>
                            <td>@((item as dynamic).Phone)</td>
                            <td>@((item as dynamic).IntendedMajor)</td>
                        }
                        else if (platformId == 3)
                        {
                            <td>@((item as dynamic).Mentor)</td>
                            <td>@((item as dynamic).Mentee)</td>
                            <td>@(((DateTime?)(item as dynamic).Date)?.ToString("d"))</td>
                            <td>@((item as dynamic).MethodOfContact)</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
